<div class="pagination">
  <div class="pagination__title">
    <span class="pagination__title-h">Discuss Post</span>
    <hr>
  </div>
  <div class="pagination__buttons">
    <span class="button next">
      <a href="https://github.com/abskmj/notes/issues/new?template=comment.md&title={{ .Title }}">
        <span class="button__text">Comment</span>
        <span class="button__icon">→</span>
      </a>
    </span>
    <span class="button next">
      <a href="https://github.com/abskmj/notes/tree/master/content/{{ .File.Path }}">
        <span class="button__text">Edit at Github</span>
        <span class="button__icon">→</span>
      </a>
    </span>

  </div>
</div>