<div class="pagination">
  <div class="pagination__title">
    <span class="pagination__title-h">Sponsor</span>
    <hr>
  </div>
  <div class="pagination__buttons">
    <a id="sponsor-link" href="https://wise.prf.hn/l/rwNWqOE" target="_blank">
      <span id="sponsor-text" style="white-space: normal;">
        Wise is a cheaper, faster way to send money abroad. Join over 10 million people who get the real exchange rate
        with Wise. They’re up to 8x cheaper than banks.
      </span>
    </a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch("/notes/sponsors.json")
      .then(response => response.json())
      .then(json => {
        const sponsor = json[Math.floor(Math.random() * json.length)]

        const link = document.getElementById("sponsor-link")
        link.setAttribute('href', sponsor.link)
        link.onclick = function () {
          gtag('event', 'sponsor', {
            'event_category': 'link',
            'event_label': sponsor.name
          });
        }

        document.getElementById("sponsor-text").textContent = sponsor.text
      });
  })
</script>

<div class="pagination">
  <div class="pagination__title">
    <span class="pagination__title-h">Discuss Post</span>
    <hr>
  </div>
  <div class="pagination__buttons">
    <span class="button next">
      <a href="https://github.com/abskmj/notes/discussions/new?category=general&label=comment&title={{ .Title }}">
        <span class="button__text">Comment</span>
        <span class="button__icon">→</span>
      </a>
    </span>
    <span class="button next">
      <a href="https://github.com/abskmj/notes/tree/master/content/{{ .File.Path }}">
        <span class="button__text">Edit at Github</span>
        <span class="button__icon">→</span>
      </a>
    </span>
  </div>
</div>